@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TheWorld.ViewModels.ContactViewModel

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@{
    ViewBag.Title = "Contact Us - The World xRadeon";
}

<div class="row">
    <div class="col-md-4">
        <h2>The Contact Us Page</h2>
        <form method="post">
            @if (ViewBag.Message != null)
            {
                <div class="text-success">@ViewBag.Message</div>
            }
            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-warning" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" type="email" asp-for="Email" />
                <span class="text-warning" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea class="form-control" cols="40" rows="4" asp-for="Message"></textarea>
                <span class="text-warning" asp-validation-for="Message"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-success" />
                <a class="btn btn-default" asp-controller="App" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>